body{
    background-color: black;
    font-family: ink free;
}

.nav{
    background-color: goldenrod;
    text-align: center;
    position: fixed;
    padding:12.5px;
    margin-left:0.12%;
}
a{
    color:black;
    font-weight: bold;
} 

.image,.about,.contact{
    margin-left: 50px;
    
}
#homePage{
    border: 50px groove  goldenrod;
    margin-top:2%;
}


h1 {
    color: goldenrod;
    text-align: center;
    font-family:ink free;
    font-size: 125px;
}
h3{
    color:goldenrod;
    text-align: center;
    font-size: 40px;
    border: 5px groove  goldenrod;
    margin-top:2%;
    padding:200px;
     padding-top: 30px;
    padding-bottom: 30px; 
}
 #About{
    padding:50px 50px 50px 50px;
    border: 10px groove goldenrod;
} 

#McCafe{
    margin-left: 12%;
    box-shadow: 4px 4px 10px 10px goldenrod;
}
#Frappe{
    margin-top: 5.5% ;
    box-shadow: 4px 4px 10px 10px goldenrod;
    margin-left: 41.5%;

}